<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Código Kid</title>
</head>

<body>
    <div class="main-container">
        <img class="logo" src="/src/CódigoKid - Logo Amarelo.png" alt="">

        <h1>Agende agora uma aula experimental gratuita!</h1>
        <p>E-mail: curitiba.aguaverde@codigokid.com.br</p>
        <p>Central de Atendimento: (41) 3128-2828</p>
        <h1>Localização:</h1>
        <p>Clínica Neurokids Água Verde</p>
        <p>Avenida República Argentina, 151 - Água Verde, Curitiba - PR</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14410.848163560588!2d-49.287272!3d-25.447889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce305bbbf2087%3A0x5435746869b0c1c9!2sCl%C3%ADnica%20Neurokids%20-%20Centro%20de%20Desenvolvimento%20Infantil!5e0!3m2!1spt-BR!2sbr!4v1668693055516!5m2!1spt-BR!2sbr"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</body>

</html>